<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Book Details</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-white text-gray-900">
<div th:replace="~{fragments :: header}"></div>

<main class="max-w-7xl mx-auto px-4 py-12">
    <h1 class="text-3xl font-bold mb-4" th:text="${selectedBook.title}">Title</h1>
    <p class="text-xl mb-4"><strong>Price:</strong> <span th:text="${selectedBook.price}"></span> RSD</p>

    <div class="mb-4" th:each="entry : ${selectedBook.customAttributes}">
        <strong><span th:text="${entry.key}">Key</span>:</strong> <span th:text="${entry.value}">Value</span>
    </div>

    <a th:href="@{/books}" class="text-blue-500 hover:underline">Back to Catalog</a>
</main>
</body>
</html>