<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="main(content, title)">
<head>
    <title th:text="${title} ?: 'Default Title'">Bookstore</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"></script>

    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <script>
        document.addEventListener('htmx:configRequest', (event) => {
            const token = document.querySelector('meta[name="_csrf"]').content;
            const header = document.querySelector('meta[name="_csrf_header"]').content;
            event.detail.headers[header] = token;
        });

        document.addEventListener('htmx:afterSwap', (event) => {
            const title = event.detail.xhr.getResponseHeader('HX-Title');
            if (title) {
                document.title = title;
            }
        });
    </script>
</head>
<body class="bg-neutral text-on-neutral"
      hx-boost="true"
      hx-target="#main-content"
      hx-swap="innerHTML show:window:top">
<div th:replace="~{fragments/header :: header}"></div>

<div id="main-content" th:insert="${content}"></div>
<div hx-get="/api/keep-alive" 
     hx-trigger="every 300s" 
     hx-swap="none"
     style="display:none;">
</div>
</body>
</html>