<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="main(content, title)">
<head>
    <title th:text="${title} ?: 'Default Title'">Bookstore</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"></script>

    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <script>
        document.addEventListener('htmx:configRequest', (event) => {
            const token = document.querySelector('meta[name="_csrf"]').content;
            const header = document.querySelector('meta[name="_csrf_header"]').content;
            event.detail.headers[header] = token;
        });
    </script>
</head>
<body class="bg-white text-gray-900">
<div th:replace="~{fragments/header :: header}"></div>

<div th:insert="${content}"></div>

</body>
</html>